<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Biodiv-Sport Widget</title>
    <meta name="description" content="biodiv-sport Widget">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="LPO AuRA">

    <link rel="stylesheet" href="assets/leaflet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
        integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link href="https://www.ruan-jian.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" rel="stylesheet">
    <style>
        #formmap {
            height: 300px;
        }

        .has-display-none {
            display: none;
            visibility: hidden;
        }

        .message {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 100;
        }
    </style>


</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://biodiv-sports.fr">
                <img src="assets/images/logo.png">
            </a>

        </div>
    </nav>

    <div class="container" id="app">
        <h1 class="title">
            Widget Biodiv-Sport
        </h1>
        <p class="subtitle">
            Page de génération des liens pour l'intégration des cartes d'enjeux Biodiv-Sport en <code>iframe</code>
        </p>
        <div class="panel">
            <p class="panel-heading">
                <i class="fa fa-cog" aria-hidden="true"></i> Configurateur
            </p>
            <div class="panel-block">
                <div class="container">
                    <form id="forms">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Langue</label>
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select v-model="form.language">
                                                <option value="fr" selected>Français</option>
                                                <option value="en">English</option>
                                                <option value="it">Italiano</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Période</label>
                                    <input type="checkbox" v-model="form.defaultPeriod" checked> Période courante
                                    (option
                                    par défaut)
                                    <div v-if="!form.defaultPeriod" class="control">
                                        <div class="select is-multiple is-fullwidth">
                                            <select multiple v-model="form.period">
                                                <option value="1">Janvier</option>
                                                <option value="2">Février</option>
                                                <option value="3">Mars</option>
                                                <option value="4">Avril</option>
                                                <option value="5">Mai</option>
                                                <option value="6">Juin</option>
                                                <option value="7">Juillet</option>
                                                <option value="8">Août</option>
                                                <option value="9">Septembre</option>
                                                <option value="10">Octobre</option>
                                                <option value="11">Novembre</option>
                                                <option value="12">Décembre</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Pratiques sportives</label>
                                    <div class="control">
                                        <div class="select is-multiple is-fullwidth">
                                            <select multiple v-model="form.practice">
                                                <option v-for="p in practicesList" :value="p.id">
                                                    {{ p.name.fr }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Hauteur (pixels) :
                                        <code>{{ iframeHeight ? iframeHeight : 'Non défini' }}px</code></label>
                                    <div class="control">
                                        <input class="input" v-model="iframeHeight" placeholder="Largeur" type="number"
                                            step="10">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">largeur (%):
                                        <code>{{ iframeWidth ? iframeWidth : 'Non défini' }}%</code></label>
                                    <div class="control">
                                        <input v-model="iframeWidth" class="input" placeholder="Hauteur" type="range">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Zone couverte par la carte à intégrer (bounding box):
                                        <code>{{ form.bbox ? form.bbox  : 'Non défini' }}</code></label>
                                    <div id="formmap"></div>
                                </div>
                            </div>
                        </div>
                </div>

                </form>
            </div>
        </div>

        <div class="panel js-tabs-container">
            <p class="panel-heading">
                <i class="fa fa-code" aria-hidden="true"></i> Code à copier
            </p>
            <p class="panel-tabs is-boxed is-fullwidth">
                <a class="is-active" data-tab="tab-iframe"><i class="fa fa-html5" aria-hidden="true"></i> iframe</a>
                <a data-tab="tab-iframe-wp"><i class="fa fa-wordpress" aria-hidden="true"></i> iframe (WordPress)</a>
                <a data-tab="tab-geojson"><i class="fa fa-map-o" aria-hidden="true"></i> geojson</a>
            </p>



            <div class="js-tab-content" id="tab-iframe">
                <div class="panel-block">
                    <div class="control has-icons-left">
                        <input class="input" type="text" :value="htmlIframeUrl" readonly>
                        <span class="icon is-small is-left">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="panel-block">
                    <button class="button is-info is-fullwidth"
                        v-on:click="copyStringToClipboard(htmlIframeUrl)">Copier</button>
                </div>
            </div>
            <div class="has-display-none js-tab-content" id="tab-iframe-wp">
                <div class="panel-block">
                    <div class="control has-icons-left">
                        <input class="input" type="text" :value="wpIframeUrl" readonly>
                        <span class="icon is-small is-left">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="control">
                        Nécessite l'installation préalable du plugin <strong><a
                                href="https://wordpress.org/plugins/iframe/" target="blank">IFRAME</a></strong>
                    </div>

                </div>
                <div class="panel-block">
                    <button class="button is-info is-fullwidth"
                        v-on:click="copyStringToClipboard(wpIframeUrl)">Copier</button>
                </div>
            </div>
            <div class="has-display-none js-tab-content" id="tab-geojson">
                <div class="panel-block">
                    <div class="control has-icons-left">
                        <input class="input" type="text" :value="apiUrl" readonly>
                        <span class="icon is-small is-left">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="panel-block">
                    <button class="button is-info is-fullwidth"
                        v-on:click="copyStringToClipboard(apiUrl)">Copier</button>
                </div>
            </div>
        </div>

        <div class="panel">
            <p class="panel-heading">
                <i class="fa fa-map" aria-hidden="true"></i> Prévisualisation
            </p>
            <div class="panel-block" v-html="htmlIframeUrl">
            </div>
        </div>
        <article v-if="displayCopyMessage" class="message is-success">
            <div class="message-body">
                Code copié!
            </div>
        </article>
    </div>
    </div>
    </div>

    <!-- <div id="mapid"></div> -->
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Widget Biodiv-Sports</strong> par la <a href="https://jgthms.com">LPO Auvergne-Rhône-Alpes</a>.
                Le code source <a href="https://github.com/lpofredc/biodivsport-widget/" target="_blank"><i
                        class="fa fa-github" aria-hidden="true"></i></a>, est sous licence <a
                    href="http://opensource.org/licenses/mit-license.php">GPL3</a>
            </p>
        </div>
    </footer>
    <script src="assets/leaflet.js"></script>
    <script src="assets/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.js"></script>
    <script src="https://www.ruan-jian.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                map: null,
                tileLayers: null,
                drawItems: null,
                drawControlDeleteOnly: null,
                drawControlFull: null,
                practices: null,
                structure: null,
                fields: null,
                omit: null,
                geoDatas: null,
                layerbounds: null,
                iframeWidth: 100,
                iframeHeight: 500,
                displayCopyMessage: false,
                form: {
                    language: 'fr',
                    period: [],
                    practice: [],
                    defaultPeriod: true,
                    bbox: null,
                },
                practicesList: [],
                qs: [],
                url: { type: Object },
            },
            methods: {
                displayMessage: function (ms) {
                    this.displayCopyMessage = true;
                    setTimeout(() => {
                        this.displayCopyMessage = false;
                    }, ms);
                },
                copyStringToClipboard: function (str) {
                    // Create new element
                    var el = document.createElement('textarea');
                    // Set value (string to be copied)
                    el.value = str;
                    // Set non-editable to avoid focus and move outside of view
                    el.setAttribute('readonly', '');
                    el.style = { position: 'absolute', left: '-9999px' };
                    document.body.appendChild(el);
                    // Select text inside element
                    el.select();
                    // Copy text to clipboard
                    document.execCommand('copy');
                    // Remove temporary element
                    document.body.removeChild(el);
                    this.displayMessage(2000);
                },
                copyIframeCode: function () {
                    var copyText = document.getElementById("myIframeCode");
                    copyText.select();
                    copyText.setSelectionRange(0, 99999)
                    document.execCommand("copy");
                    alert("Copied the text: " + copyText.value);
                },
                getBbox(layer) {
                    this.form.bbox = layer.getBounds().toBBoxString();
                    return this.form.bbox;

                },
                initMap: function () {
                    this.map = L.map('formmap').setView([46, 6], 8);
                },
                initLayers: function () {

                    var OpenStreetMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                        maxZoom: 19
                    }).addTo(this.map), OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                        maxZoom: 18
                    });

                    var baseMaps = {
                        'OpenStreetMap': OpenStreetMap,
                        'OpenTopoMap': OpenTopoMap,
                    }

                    this.tileLayers = L.control.layers(baseMaps).addTo(this.map);

                },
                drawItem: function () {
                    this.drawItems = L.featureGroup().addTo(this.map);
                    this.drawControlFull = new L.Control.Draw({
                        // edit: {
                        //     featureGroup: this.drawItems,
                        //     edit: false,
                        //     poly: {
                        //         allowIntersection: false
                        //     }
                        // },
                        draw: {
                            rectangle: {
                                allowIntersection: false,
                                showBounds: true
                            },
                            polygon: false,
                            marker: false,
                            polyline: false,
                            circlemarker: false,
                            circle: false,
                            point: false
                        },
                        edit: false,
                    });

                    this.drawControlDeleteOnly = new L.Control.Draw({
                        edit: {
                            featureGroup: this.drawItems,
                            edit: false,
                        },
                        draw: false,
                    });
                    this.map.addControl(this.drawControlFull);

                },
                drawItemsInteract: function () {
                    var vm = this;
                    vm.map.on(L.Draw.Event.CREATED, function (e) {
                        vm.drawItems.addLayer(e.layer);
                        vm.drawControlFull.remove(vm.map);
                        vm.drawControlDeleteOnly.addTo(vm.map);
                        var layer = e.layer;
                        vm.getBbox(layer);
                    });
                    vm.map.on(L.Draw.Event.DELETED, function (e) {
                        if (vm.drawItems.getLayers().length === 0) {
                            vm.drawControlDeleteOnly.remove(vm.map);
                            vm.drawControlFull.addTo(vm.map);
                        };
                    });
                }

            },
            mounted() {
                axios.get(
                    "https://biodiv-sports.fr/api/v2/sportpractice/?format=json"
                )
                    .then(response => {
                        this.practicesList = response.data.results
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                this.initMap();
                this.initLayers();
                this.drawItem();
                this.drawItemsInteract();
            },
            computed: {
                apiUrl: function () {
                    this.baseApiUrl = "https://biodiv-sports.fr/api/v2/sensitivearea/?format=geojson"
                    this.qs = [];
                    if (!!this.form.language) { this.qs.push("language=" + this.form.language) };
                    if (!this.form.defaultPeriod) {
                        if (this.form.period.length > 0) { this.qs.push("period=" + this.form.period) };
                    }
                    if (this.form.practice.length > 0) { this.qs.push("practices=" + this.form.practice) };
                    if (this.form.bbox) { this.qs.push("in_bbox=" + this.form.bbox) };
                    if (this.qs.length > 0) { this.baseApiUrl = this.baseApiUrl + "&" };

                    this.finalUrl = this.baseApiUrl + this.qs.join("&");
                    return this.finalUrl;
                },
                iframeUrl: function () {
                    this.originUrl = window.location.origin;
                    return this.originUrl + '/map.html?apiUrl=' + this.apiUrl
                },
                htmlIframeUrl: function () {
                    this.originUrl = window.location.origin;
                    return '<iframe src="' + this.originUrl + '/map.html?apiUrl=' + this.apiUrl + '" width="' + this.iframeWidth + '%" height="' + this.iframeHeight + '" frameBorder="0"></iframe>'
                },
                wpIframeUrl: function () {
                    this.originUrl = window.location.origin;
                    return '[iframe src="' + this.originUrl + '/map.html?apiUrl=' + this.apiUrl + '" width="' + this.iframeWidth + '%" height="' + this.iframeHeight + '" frameBorder="0"]'
                },
            },
            created() {

            }
        });


    </script>
    <script>
        // app.js

        'use strict';

        document.addEventListener('DOMContentLoaded', function () {

            var tabs = document.getElementsByClassName('panel-tabs');
            if (tabs) {
                var _loop = function _loop() {
                    var tabListItems = tabs[i].querySelectorAll('a');
                    tabListItems.forEach(function (tabListItem) {

                        // création d'un écouteur d'évènements sur le clic d'une tab
                        tabListItem.addEventListener('click', function () {

                            // suppression de la classe is-active sur chacune des tabs avant de la rajouter sur la tab qui a été cliquée
                            tabListItems.forEach(function (tabListItem) {
                                tabListItem.classList.remove('is-active');
                            });
                            tabListItem.classList.add('is-active');

                            // tabName correspond à la valeur de l'attribut data-tab
                            var tabName = tabListItem.dataset.tab;

                            // on identifie tous les contenus possibles puis on applique la classe has-display-none si l'ID du contenu ne correspond pas à la valeur de l'attribut data-tab
                            tabListItem.closest('.js-tabs-container').querySelectorAll('.js-tab-content').forEach(function (tabContent) {

                                if (tabContent.id !== tabName) {
                                    tabContent.classList.add('has-display-none');
                                } else {
                                    tabContent.classList.remove('has-display-none');
                                }
                            });
                        }, false);
                    });
                };

                for (var i = 0; i < tabs.length; i++) {
                    _loop();
                }
            }
        });
    </script>
</body>

</html>