<!doctype html>

<html lang="en">


<head>
    <meta charset="utf-8">

    <title>Biodiv-Sport Widget</title>
    <meta name="description" content="biodiv-sport Widget">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="LPO AuRA">

    <link rel="stylesheet" href="assets/leaflet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
        integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-tooltip/dist/css/bulma-tooltip.min.css">
    <link href="https://www.ruan-jian.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" rel="stylesheet">
    <style>
        #map {
            height: 100vh;
            z-index: 1;
        }

        .card {
            z-index: 10;
        }

        #empty-message {
            position: fixed;
            /* Sit on top of the page content */
            display: block;
            /* Hidden by default */
            width: 100%;
            /* Full width (cover the whole page) */
            height: 100%;
            /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            /* Black background with opacity */
            z-index: 20;
            /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer;
            /* Add a pointer on hover */
        }

        #empty-message-text {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            font-size: 30px;
            color: white;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .modal-card-foot, .modal-card-head {
            justify-content: space-between;
        }
    </style>

</head>

<body>
    <div id="vmap">

        <div id="empty-message" v-bind:style="{ display: emptyMessage}">
            <div id="empty-message-text"> Aucun zonage sensible</br>sur ce territoire en ce
                moment</div>
        </div>
        <b-modal :active.sync="displayData" v-if="featureProps" has-modal-card trap-focus aria-role="dialog" aria-modal>
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title" data-tooltip="test"><span
                            :class="[actualSensitivity ? 'tag is-warning':'tag is-success']"
                            :data-tooltip="[actualSensitivity ? 'Période sensible':'Hors période sensible']">
                            <i :class="[actualSensitivity ? 'fa fa-exclamation-triangle' : 'fa fa-check-circle']"></i>
                        </span></i>
                        {{ featureProps.name }}</p>
                    <p class="tags">
                        <span class="tag is-info" v-for="p in practicesReadableList">{{p}}</span>
                    </p>
                </header>
                <section class="modal-card-body">

                    <div class="level">
                        <div class="level-left"><strong>Mois sensibles</strong></div>
                        <div class="level-right">
                            <span class="tags has-addons">
                                <span class='tag is-success'><i class="fa fa-check-circle fa-fw"
                                        aria-hidden="true"></i>Hors période sensible</span>
                                <span class='tag is-warning'><i class="fa fa-exclamation-triangle fa-fw"
                                        aria-hidden="true"></i> Période sensible</span>
                            </span>
                        </div>
                    </div>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th v-for="(p, id) in featureProps.period">{{id+1}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th v-for="p in featureProps.period" v-bind:class="[p ? 'is-warning' : 'is-success']">
                                </th>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <p v-if="featureProps.elevation"
                        v-html="'<strong>Altitude</strong> :&nbsp;<span style=\'color:red;\'>'+featureProps.elevation+'</span>'">
                    </p>
                    <p v-if="featureProps.description"
                        v-html="'<strong>Description</strong> :&nbsp;'+featureProps.description">
                    </p>
                    <p><span v-html="'<strong>Structure</strong> :&nbsp;'+featureProps.structure"></p>
                    <p v-if="featureProps.description" v-html="'<strong>Contact</strong> :&nbsp;'+featureProps.contact">
                    </p>
                    <p><strong>Dernière mise à jour</strong> : <span v-html="new Date(featureProps.update_datetime).toLocaleDateString()"></span>
                </section>
                <footer class="modal-card-foot">
                    <p>

                        <b-button type="is-info" is-centered tag="a" v-bind:href="featureProps.kml_url" target="_blank">
                            Télécharger le fichier kml
                        </b-button>
                        <b-button type="is-success" is-centered tag="a" v-bind:href="featureProps.info_url"
                            target="_blank">Plus d'informations
                        </b-button>
                    </p>
                    <p>
                        <b-button type="is-danger" @click="displayData=false">Fermer</b-button>
                    </p>
                </footer>
            </div>
        </b-modal>
        <div id="map"></div>

    </div>
    <script src="assets/leaflet.js"></script>
    <script src="assets/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
    <script src="https://www.ruan-jian.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script>
        var vmap = new Vue({
            el: '#vmap',
            data: {
                featureProps: null,
                map: null,
                displayData: false,
                emptyMessage: 'none',
                loading: {
                    fullPage: true,
                    isActive: true
                },
                p: null,
                practicesList: null,
            },
            methods: {
                findObjectByKey: function (array, key, value) {
                    for (var i = 0; i < array.length; i++) {
                        if (array[i][key] === value) {
                            return array[i]['name'];
                        }
                    }
                    return null;
                },

                initMap: function () {
                    this.map = L.map('map').setView([46, 6], 8);
                },
                initLayers: function () {
                    var OpenStreetMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                        maxZoom: 19
                    }).addTo(this.map),
                        OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                            maxZoom: 18
                        });

                    var baseMaps = {
                        'OpenStreetMap': OpenStreetMap,
                        'OpenTopoMap': OpenTopoMap,
                    }

                    this.tileLayers = L.control.layers(baseMaps).addTo(this.map);

                },
                getApiUrl: function () {
                    url = new URL(window.location.href);
                    qs = url.search;
                    apiUrl = qs.replace("?apiUrl=", "");
                    return apiUrl
                },
                periodSensitivity: function (feature) {
                    var period = feature.period
                },
                onEachFeatureFunction: function () {
                    return (feature, layer) => {
                        var self = this;
                        layer.on("click", function (e) {
                            self.featureProps = feature.properties;
                            if (self.displayData === false) {
                                self.displayData = true;
                            };
                        });
                    }
                },
                getPractices: function () {
                    axios.get(
                        "https://biodiv-sports.fr/api/v2/sportpractice/?format=json&language=fr"
                    )
                        .then(response => {
                            this.practicesList = response.data.results;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                loadGeoData: function () {
                    axios
                        .get(
                            this.getApiUrl()
                        )
                        .then(response => {
                            var geoJsonDatas = L.geoJSON(response.data, {
                                onEachFeature: this.onEachFeatureFunction()
                            });
                            this.map.addLayer(geoJsonDatas);
                            if (geoJsonDatas.count === 0) {
                                this.emptyMessage = 'block';
                            }
                            else {
                                this.emptyMessage = 'none';
                            };
                            try {
                                bounds = geoJsonDatas.getBounds();
                                this.map.fitBounds(bounds);
                            }
                            catch (error) {
                                this.emptyMessage = 'block';
                                console.log(error)
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                },

            },
            computed: {
                params: function () {
                    var apiUrl = this.getApiUrl().search
                    var querystrings = apiUrl.search;
                    let params = new URLSearchParams(queryString);
                },
                param: function (qs) {
                    return parseInt(this.params.get(qs));
                },
                actualSensitivity: function () {
                    var month = new Date().getMonth();
                    return this.featureProps.period[month];
                },
                practicesReadableList: function (feature) {
                    var practicesReadableList = [];
                    var practices = this.featureProps.practices;
                    for (var i = 0; i < practices.length; i++) {
                        practicesReadableList.push(this.findObjectByKey(this.practicesList, 'id', practices[i]));
                    };
                    return practicesReadableList;
                },
            },
            mounted() {
                this.getPractices();
                this.initMap();
                this.initLayers();
                this.loadGeoData();
            }
        });
    </script>