<!doctype html>

<html lang="en">


<head>
    <meta charset="utf-8">

    <title>Biodiv-Sport Widget</title>
    <meta name="description" content="biodiv-sport Widget">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="LPO AuRA">

    <link rel="stylesheet" href="assets/node_modules/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="assets/node_modules/leaflet-draw/dist/leaflet.draw.css">
    <link rel="stylesheet" href="assets/node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.css">
    <link rel="stylesheet" href="assets/node_modules/leaflet-geosearch/dist/geosearch.css">
    <link rel="stylesheet" href="assets/node_modules/bulma-extensions/dist/css/bulma-extensions.min.css">
    <link rel="stylesheet" href="assets/node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="assets/node_modules/fork-awesome/css/fork-awesome.css">
    <link rel="stylesheet" href="assets/node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css">
    <link rel="stylesheet" href="assets/node_modules/leaflet-draw/dist/leaflet.draw.css">

    <style>
        #map {
            height: 100vh;
            z-index: 1;
        }

        .card {
            z-index: 10;
        }

        #empty-message {
            position: fixed;
            /* Sit on top of the page content */
            display: block;
            /* Hidden by default */
            width: 100%;
            /* Full width (cover the whole page) */
            height: 100%;
            /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            /* Black background with opacity */
            z-index: 20;
            /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer;
            /* Add a pointer on hover */
        }

        #empty-message-text {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            font-size: 30px;
            color: white;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .modal-card-foot,
        .modal-card-head {
            justify-content: space-between;
        }

        .bottom-left-btn {
            position: fixed;
            bottom: 20px;
            right: 10px;
            z-index: 5;
        }

        .logo {
            height: 100px;
        }
    </style>

</head>

<body>
    <div id="vmap">

        <div id="empty-message" v-bind:style="{ display: emptyMessage}">
            <div id="empty-message-text"> Aucun zonage sensible</br>sur ce territoire en ce
                moment</div>
        </div>
        <b-modal :active.sync="displayData" v-if="featureProps" has-modal-card trap-focus aria-role="dialog" aria-modal>
            <div class="modal-card">
                <header class="modal-card-head">
                    <div class="columns">
                        <div class="column">
                            <p class="modal-card-title"><span
                                    :class="[actualSensitivity ? 'tag is-warning':'tag is-success']"
                                    :data-tooltip="[actualSensitivity ? 'Période sensible':'Hors période sensible']">
                                    <i
                                        :class="[actualSensitivity ? 'fa fa-exclamation-triangle' : 'fa fa-check-circle']"></i>
                                </span>
                                {{ featureProps.name }}
                            </p>
                        </div>
                        <div class="column">
                            <p class="tags">
                                <span class="tag is-dark" v-for="p in practicesReadableList">{{p[lang]}}</span>
                                <span :class="[ !featureProps.species_id ? 'tag is-info':'tag is-success']"
                                    v-html="!featureProps.species_id ? 'Zone réglementaire':'Zone espèce'"></span>
                            </p>
                        </div>
                    </div>


                </header>
                <section class="modal-card-body">

                    <div class="level">
                        <div class="level-left"><strong>Mois sensibles</strong></div>
                        <div class="level-right">
                            <span class="tags has-addons">
                                <span class='tag is-success'><i class="fa fa-check-circle fa-fw"
                                        aria-hidden="true"></i>Hors période sensible</span>
                                <span class='tag is-warning'><i class="fa fa-exclamation-triangle fa-fw"
                                        aria-hidden="true"></i> Période sensible</span>
                            </span>
                        </div>
                    </div>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th v-for="(p, id) in featureProps.period">{{id+1}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th v-for="p in featureProps.period" v-bind:class="[p ? 'is-warning' : 'is-success']">
                                </th>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <p v-if="featureProps.elevation"
                        v-html="'<strong>Distance de survol minimum (m)</strong> :&nbsp;<span style=\'color:red;\'>'+featureProps.elevation+'</span>'">
                    </p>
                    <p v-if="featureProps.description"
                        v-html="'<strong>Description</strong> :&nbsp;'+featureProps.description">
                    </p>
                    <p><span v-html="'<strong>Structure</strong> :&nbsp;'+featureProps.structure"></p>
                    <p v-if="featureProps.description" v-html="'<strong>Contact</strong> :&nbsp;'+featureProps.contact">
                    </p>
                    <!--<p><strong>Dernière mise à jour</strong> : <span
                            v-html="new Date(featureProps.update_datetime).toLocaleDateString()"></span>-->
                </section>
                <footer class="modal-card-foot">
                    <p>

                        <b-button type="is-info is-responsive" is-centered tag="a" v-bind:href="featureProps.kml_url"
                            target="_blank">
                            <i class="fa fa-download"></i> kml
                        </b-button>
                        <b-button type="is-info is-responsive" v-if="featureProps.openair_url" is-centered tag="a"
                            v-bind:href="featureProps.openair_url" target="_blank">
                            <i class="fa fa-download"></i> OpenAir
                        </b-button>
                        <b-button type="is-success is-responsive" is-centered tag="a"
                            v-bind:href="featureProps.info_url" target="_blank">Plus d'informations
                        </b-button>
                    </p>
                    <p>
                        <b-button type="is-danger is-responsive" @click="displayData=false">Fermer</b-button>
                    </p>
                </footer>
            </div>
        </b-modal>
        <b-modal :active.sync="displayPartners" has-modal-card trap-focus aria-role="dialog" aria-modal>
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">A propos de...
                </header>
                <section class="modal-card-body">
                    <div class="content has-text-centered">
                        <p>
                            <strong>Widget Biodiv-Sports</strong> par la <a
                                href="https://auvergne-rhone-alpes.lpo.fr/">LPO
                                Auvergne-Rhône-Alpes</a>.
                            Le code source <a href="https://github.com/lpofredc/biodivsport-widget/" target="_blank"><i
                                    class="fa fa-github" aria-hidden="true"></i></a>, est sous licence <a
                                href="http://opensource.org/licenses/mit-license.php">GPL3</a>
                        </p>
                    </div>
                    <div class="content has-text-centered">
                        <p>
                            Un <strong>projet financé</strong> par&nbsp;: <br>
                            <a href="https://www.petzl.com/fondation/fondation-petzl" target="_blank"
                                title="Fondation Petzl"><img class="logo" src="images/Petzl.jpg"
                                    alt="Fondation Petzl"></a>
                            <a href="https://www.auvergnerhonealpes.fr/" target="_blank"
                                title="Région Auvergne-Rhône-Alpes">&nbsp;<img class="logo"
                                    src="images/Logo_RegionARA_Partenaire_typo-gris-pastille-bleu.png"
                                    alt="Région Auvergne-Rhône-Alpes"></a>
                        </p>
                    </div>
                    <div class="content has-text-centered">
                        <p>
                            Les <strong>partenaires du projet</strong>&nbsp;:<br>
                            <a href="https://www.petzl.com/fondation/fondation-petzl" target="_blank"
                                title="Fondation Petzl"><img src="images/bandeau_partenaires.png"
                                    alt="Fondation Petzl"></a>
                        </p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <p>
                    </p>
                    <p>
                        <b-button type="is-danger" @click="displayPartners=false">Fermer</b-button>
                    </p>
                </footer>
            </div>
        </b-modal>
        <b-button class='is-small bottom-left-btn' @click="displayPartners=true"><i class="fa faw fa-handshake-o"
                aria-hidden="true"></i> A propos de...</b-button>
        <div id="map"></div>

    </div>
    <script src="assets/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="assets/node_modules/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src="assets/node_modules/leaflet-geosearch/dist/geosearch.umd.js"></script>
    <script src="assets/node_modules/vue/dist/vue.min.js"></script>
    <script src="assets/node_modules/axios/dist/axios.min.js"></script>
    <script src="assets/node_modules/buefy/dist/buefy.js"></script>
    <script src="assets/node_modules/bulma-extensions/dist/js/bulma-extensions.js"></script>
    <script src="assets/node_modules/leaflet-draw/dist/leaflet.draw.js"></script>
    <script>
        var vmap = new Vue({
            el: '#vmap',
            data: {
                lang: 'fr',
                baseUrl: 'https://biodiv-sports.fr/',
                featureProps: null,
                map: null,
                legend: null,
                displayData: false,
                displayPartners: false,
                emptyMessage: 'none',
                loading: {
                    fullPage: true,
                    isActive: true
                },
                p: null,
                practicesList: null,
            },
            methods: {
                findObjectByKey: function (array, key, value) {
                    const item = array.find(i => i[key] === value)
                    return item && ('name' in item) ? item['name'] : null
                },

                initMap: function () {
                    this.map = L.map('map').setView([46, 6], 8);
                    L.control.locate().addTo(this.map);
                    const searchControl = new GeoSearch.GeoSearchControl({
                        provider: new GeoSearch.OpenStreetMapProvider(),
                    });
                    this.map.addControl(searchControl);
                },
                initLayers: function () {
                    var OpenStreetMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                        maxZoom: 19
                    }).addTo(this.map),
                        OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                            maxZoom: 18
                        });

                    var baseMaps = {
                        'OpenStreetMap': OpenStreetMap,
                        'OpenTopoMap': OpenTopoMap,
                    }

                    this.tileLayers = L.control.layers(baseMaps).addTo(this.map);

                },
                getApiUrl: function () {
                    url = new URL(window.location.href);
                    qs = url.search;
                    apiUrl = qs.replace("?apiUrl=", "");
                    return apiUrl
                },
                periodSensitivity: function (feature) {
                    var period = feature.period
                },
                styleColor: function (d) {
                    return d > 0 ? '#3ec46d' : '#2793da';
                },
                styleArea: function (feature) {
                    return {
                        fillColor: this.styleColor(feature.properties.species_id),
                        weight: 2,
                        opacity: 0.8,
                        color: this.styleColor(feature.properties.species_id),
                        fillOpacity: 0.3
                    };
                },
                onEachFeatureFunction: function () {
                    return (feature, layer) => {
                        var self = this;
                        layer.on("click", function (e) {
                            self.featureProps = feature.properties;
                            if (self.displayData === false) {
                                self.displayData = true;
                            };
                        });
                    }
                },
                mapLegend: function (map) {
                    var self = this;
                    L.Control.Legend = L.Control.extend({
                        onAdd: function (map) {
                            var div = L.DomUtil.create('div', 'info legend'),
                                grades = ['is-info', 'is-success'],
                                labels = ["Zone réglementaire", "Zone espèce"];
                            for (var i = 0; i < grades.length; i++) {
                                div.innerHTML += '<span class="tag ' + grades[i] + '">' + labels[i] + '</span><br>'
                            }
                            return div;
                        },
                        onRemove: function (map) {
                            // Nothing to do here
                        }
                    });

                    L.control.legend = function (opts) {
                        return new L.Control.Legend(opts);
                    }

                    L.control.legend({ position: 'bottomleft' }).addTo(map);
                },
                getPractices: function () {
                    const params = { format: 'json', language: 'fr' }
                    axios.get(
                        "https://biodiv-sports.fr/api/v2/sportpractice/",
                        { params }
                    )
                        .then(response => {
                            this.practicesList = response.data.results;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                loadGeoData: function () {
                    axios
                        .get(
                            this.getApiUrl()
                        )
                        .then(response => {
                            var geoJsonDatas = L.geoJSON(response.data, {
                                onEachFeature: this.onEachFeatureFunction(),
                                style: this.styleArea
                            });
                            this.map.addLayer(geoJsonDatas);
                            if (geoJsonDatas.count === 0) {
                                this.emptyMessage = 'block';
                            }
                            else {
                                this.emptyMessage = 'none';
                            };
                            try {
                                bounds = geoJsonDatas.getBounds();
                                this.map.fitBounds(bounds);
                            }
                            catch (error) {
                                this.emptyMessage = 'block';
                                console.log(error)
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                },

            },
            computed: {
                params: function () {
                    var apiUrl = this.getApiUrl().search
                    var querystrings = apiUrl.search;
                    let params = new URLSearchParams(queryString);
                },
                param: function (qs) {
                    return parseInt(this.params.get(qs));
                },
                actualSensitivity: function () {
                    var month = new Date().getMonth();
                    return this.featureProps.period[month];
                },
                practicesReadableList: function (feature) {
                    var practicesReadableList = [];
                    var practices = this.featureProps.practices;
                    for (var i = 0; i < practices.length; i++) {
                        practicesReadableList.push(this.findObjectByKey(this.practicesList, 'id', practices[i]));
                    };
                    return practicesReadableList;
                },
            },
            mounted() {
                this.getPractices();
                this.initMap();
                this.initLayers();
                this.loadGeoData();
                this.mapLegend(this.map);
            }
        });
    </script>
